
* {
    font-family: 'Roboto';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: black;
}

h1 {
    color:  blanchedalmond;
    margin: 0px;
    padding: 0px;
}

.frame {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    width: 75vw;
    height: 75vw;
}

.row {
    display: flex;
    flex: auto;
}

.square {
    flex: auto;
    margin: 1px;
    border-radius: 4px;
    background-color: blanchedalmond;
}

.on {
    background-color: green;
}

#new {
    font-size: 24px;
    border-color:  blanchedalmond;
    border-radius: 4px;
    color:  blanchedalmond;
    background-color: black;
    width: 75px;
    height: 75px;
    font-weight: bold;
}